# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Database (remove this line if you want to backup your test data)
factions.db

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear

# Module info
*.log
